<header class="absolute inset-x-0 top-0 z-50">
  <div class="container mx-auto">
    <div class="w-full flex flex-col">
      <nav class="flex items-center justify-between mx-4" aria-label="Global">
        <div *ngIf="!isMobileMenuOpen" class="flex lg:flex-1">
          <a routerLink="/">
            <img
              class="mt-3 h-16 md:h-20 lg:h-24 w-auto"
              src="/assets/images/ef-logo.png"
              alt="ef-logo-header"
            />
          </a>
        </div>

        <div class="flex lg:hidden">
          <button
            *ngIf="!isMobileMenuOpen"
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            (click)="openMobileMenu()"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>

        <div class="hidden lg:flex lg:gap-x-2">
          <a
            routerLink="/"
            class="font-medium rounded-md p-2 transition duration-100 hover:bg-gray-300"
            >Home</a
          >
          <a
            routerLink="/"
            fragment="features"
            class="font-medium rounded-md p-2 transition duration-100 hover:bg-gray-300"
            >Features</a
          >
          <a
            routerLink="/"
            fragment="faq"
            class="font-medium rounded-md p-2 transition duration-100 hover:bg-gray-300"
            >FAQ</a
          >
        </div>

        <div
          *ngIf="
            currentRoute &&
            (currentRoute === '/' || currentRoute.startsWith('/#'))
          "
          class="hidden lg:flex lg:flex-1 lg:justify-end"
        >
          <a
            routerLink="/estates/catalog"
            class="rounded-md px-3 py-2 text-base font-medium border border-indigo-600 hover:text-white hover:bg-indigo-600 transition duration-100 ease-in-out"
            >Start Searching <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </nav>
    </div>
  </div>

  <app-mobile-menu
    *ngIf="isMobileMenuOpen"
    [currentRoute]="currentRoute"
    (isMobileMenuOpenChange)="handleCloseMobileMenu($event)"
  ></app-mobile-menu>

  <button
    *ngIf="showBackToTop"
    class="fixed bottom-2 right-2 rounded-md bg-blue-500 p-2.5 text-white hover:bg-blue-600 hover:shadow-lg z-50"
    (click)="scrollToTop()"
  >
    <svg
      aria-hidden="true"
      focusable="false"
      data-prefix="fas"
      class="h-4 w-4"
      role="img"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
    >
      <path
        fill="currentColor"
        d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
      ></path>
    </svg>
  </button>
</header>
